sounddevice==0.4.6
numpy==1.26.4
SpeechRecognition==3.10.1
pick==2.2.0
langchain==0.1.20
langchain-core==0.1.50
langchain-nvidia-ai-endpoints==0.3.18
pydantic==2.7.1
python-dotenv==1.0.1
pillow==10.3.0
customtkinter==5.2.0
